.nav-tabs {
  border-bottom: 1px solid darken($gray-light, 2%);

  li {
    > a {
      border-top: 1px solid darken($gray-light, 2%);
      color: $text-color;
      display: block;
      padding: 1rem;

      &:hover {
        color: $text-inverse;
        background-color: $text-color;
        text-decoration: none;
      }

      &:active,
      &:focus {
        outline: 0;
      }
    }

    // Hide submenus by default
    > ul {
      background-color: $gray-lighter;
      border-bottom: 1px solid darken($gray-light, 2%);
      display: none;

      li a {
        border-top: 1px solid darken($gray-light, 2%);
        padding: .75rem 1rem;

        &:hover {
          background-color: $gray-light;
        }
      }
    }

    // Active state
    &.active {
      > a {
        &,
        &:hover {
          background-color: $gray-lighter;
          color: $text-color;
          cursor: default;
        }
      }

      > ul {
        display: block;
      }
    }
  }
}
