<div class="hero welcome-hero">
  <h1 class="hero-heading">Garbarino Styleguide</h1>
  <p>A conjunction of design patterns, components and resources used across our products.</p>

  <a href="https://github.com/garbarino-com/garba-styleguide.git"
      class="button button--primary" target="_blank">
    <span class="icon icon-download"></span>
    Fork on Github
  </a>
</div>
