<!doctype html>

<html lang="en">
<head>
  <title>Garba Styleguide 2.0</title>
  {{> head}}
</head>

<body>
<div class="row-wrapper">
  <nav class="main-nav">
    {{> header}}
    {{> sidenav}}
  </nav>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home">
      {{> tab1}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      {{> tab1}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
      {{> tab1}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
      {{> tab1}}
    </div>

    {{> footer}}
  </div>

</div>

{{> scripts}}
</body>
</html>
