<!doctype html>

<html lang="en">
<head>
  <title>Garba Styleguide 3.0</title>
  {{> head}}
</head>

<body>
<div class="row-wrapper">
  <nav class="main-nav">
    {{> header}}
    {{> sidenav}}
  </nav>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="welcome">
      {{> welcome}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="installation">
      <div class="tab-container">
        {{> installation}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="buttons">
      <div class="tab-container">
        {{> buttons}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
      <div class="tab-container">
        {{> tab1}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
      <div class="tab-container">
        {{> tab1}}
      </div>
    </div>

    {{> footer}}
  </div>

</div>

{{> scripts}}
</body>
</html>
