//
// Component animations
// --------------------------------------------------

// Transition

// TODO (esteban): Make this next mixin work instead of the latter
// @mixin transition($transition) {
//   @include prefixer(transition, $transition, webkit moz spec);
// }

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

.fade {
  @include transition(opacity .15s ease-out);
  opacity: 0;

  // Triggers transition for opacity
  &.in {
    opacity: 1;
  }
}
