//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html {
  font-size: $baseline-grid;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.kss-style {
  font-family: $font-family-base;

// Headings
// -------------------------
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $gray-dark;
    font-family: $font-family-base;
    font-weight: 700;
    line-height: 1.25;

    > small,
    > .small {
      font-weight: normal;
      line-height: 1;
      color: $gray-medium;
    }
  }

  h1, .h1 {font-size: 2rem;}
  h2, .h2 {font-size: 1.5rem;}
  h3, .h3 {font-size: 1.25rem;}
  h4, .h4 {font-size: 1rem;}
  h5, .h5 {font-size: .75rem;}
  h6, .h6 {font-size: .5rem;}
}


// Generic text elements
// -------------------------

.kss-style {
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  em {
    color: $gray-dark;
    font-weight: 700;
  }

  // Paragraph
  // -------------------------
  p {
    margin: 0 0 1rem;
  }

  // Lists
  // -------------------------

  // Unordered and Ordered lists
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;

    ul,
    ol {
      margin-bottom: 0;
      margin-top: .5rem;
      padding-left: 1rem;
    }

    > li {
      padding-bottom: .5rem;
      position: relative;

      &::before {
        content: "•";
        color: $gray-medium;
        padding-right: .5rem;
        position: absolute;
        right: 100%;
      }
    }
  }

  blockquote {
    background-color: $code-bg;
    border-radius: $border-radius-base;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding: .5rem 1rem;

    h3:first-child {
      margin-top: .5rem;
    }
  }
}


// Page header
// -------------------------

.page-header {
  border-bottom: 1px solid $gray-light;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
}

.hero {
  background-color: $brand-secondary;
  color: $text-inverse;
  height: 100%;
  padding: 2rem 1.5rem;
  width: 100%;
}

.welcome-hero {
  background: transparent url('../images/wallpaper.png') 0 0 no-repeat;
  background-size: contain;
}

.hero-heading {
  color: $text-inverse;
}

// Esta clase existe sólo para demostrar la grilla.

.grid-display {
  background-color: #336699;

  > div {
    border: 1px solid #336699;

    &:after {
      @include make-pseudo-element;
      background-color: #66ccff;
      color: $text-inverse;
      content: "column";
      padding: .5rem;
    }
  }
}
