//
// A mixin to generate overlays
// --------------------------------------------------

@mixin make-overlay-element ($backgroundColor: $element-overlay-bg, $position: fixed, $opacity: $element-overlay-opacity) {
  background-color: $backgroundColor;
  bottom: 0;
  left: 0;
  opacity: $opacity;
  position: $position;
  right: 0;
  top: 0;
  z-index: $zindex-overlay;
}
