// A group of reusable mixins

@mixin hide-element {
  display: none !important;
  visibility: hidden !important;
}

@mixin hide-element-simple {
  display: none !important;
}

// Floats
// -------------------------
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
