#kss-node {
  .kss-title {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }

  .kss-title__permalink {
    color: #gray-darker;

    &:hover {
      color: $brand-corporate;
    }
  }

  .kss-modifier__wrapper,
  .kss-markup {
    border: 0;
  }

  .kss-modifier__heading,
  .kss-parameters__title {
    background-color: transparent;
    border-bottom-color: $gray-light;
    color: $gray-medium;
    margin: 0 0 1rem;
    padding: .5rem 0;
  }

  .kss-modifier__wrapper {
    padding: 0;
  }

  .kss-modifier__name {
    color: $brand-corporate;

    // Adds symbol after names have been declared.
    &:after {
      content: ":";
    }
  }

  ol.linenums {
    background: transparent;
    padding: 7px;
    padding: 0;

    li {
      border-bottom: 0;
      min-height: initial;
      padding: .5rem;

      &:first-child {
        padding-top: .5rem;
      }

      &.L0,
      &.L2,
      &.L4,
      &.L6,
      &.L8,
      &.L10 {
        background-color: transparent;
      }
    }
  }

  .kss-markup {
    summary {
      padding-left: 0;
    }

    &[open] summary {
      border-bottom: 0;
      padding-bottom: .5rem;
    }

    .prettyprint {
      border: 1px solid $gray-medium;
      border-radius: $border-radius-base;
    }

    code {
      color: $brand-primary;
    }
  }

  // Parameters
  .kss-parameters {
    border: 1px solid $gray-medium;
    border-radius: $border-radius-base;
    width: 100%;

    pre,
    code,
    kbd,
    samp {
      padding: .25rem;
    }
  }

  .kss-parameters__item:not(:last-child) {
    border-bottom: 1px solid $gray-medium;
  }

  .kss-parameters__name {
    padding: .5rem;
  }

  // Component block
  .kss-section {
    margin-bottom: 0;

    + .kss-section {
      padding-top: $header-height + 1rem;
    }
  }
}

// Code display styles
.kss-style {
  pre,
  code,
  kbd,
  samp {
    background-color: $code-bg;
    border-radius: $border-radius-base;
    color: $brand-corporate;
    display: inline-block;
    padding: 0 .25rem;
  }
}

// Override styles for markup
.tag {
  background-color: transparent;
  border: 0;
  display: inline;
  font-size: inherit;
  height: auto;
  line-height: inherit;
  max-width: initial;
  padding: 0;
  text-transform: none;
}
