.footer {
  border-top: 1px solid $gray-light;
  bottom: 0;
  font-size: .75rem;
  height: 3rem;
  left: 0;
  line-height: 1;
  padding: 1rem $content-side-spacer 0;
  right: 0;

  > p {
    margin-bottom: 0;
  }
}
