#kss-node {
  .kss-header {
    background-color: $header-bg;
    color: $gray-dark;
    margin-top: 0;
    padding: $header-padding;

    > p {
      line-height: $brand-height;
      margin-bottom: 0;
    }
  }

  .kss-doc-title {
    @include hide-text;
    background: transparent url($brand-url) 0 0 no-repeat;
    background-size: contain;
    display: block;
    float: left;
    height: $brand-height;
    width: 20rem;

    > img {
      width: 3rem;
      display: block;
      margin: 0 auto;
    }
  }
}
