.kss-header {
  background-color: $brand-corporate;
  color: $text-inverse;
  height: 4rem;
  margin-top: 0;
}

.kss-doc-title {
  display: block;
  padding: 0.5rem;

  > img {
    width: 3rem;
    display: block;
    margin: 0 auto;
  }
}
