.row-wrapper {
  display: table;
  height: 100%;
}

.main-nav,
.tab-content {
  display: table-cell;
  vertical-align: top;
}

.main-nav {
  background-color: $nav-bg;
  border-right: 1px solid $gray-light;
  min-width: $nav-width;
}

.tab-content {
  position: relative;
  width: 100%;
}

.tab-pane {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tab-container {
  overflow: auto;
  padding: 2rem 1.5rem;
}
