// This file leads with positioning, for visual styling go to each component partial.

#kss-node {
  background-color: $body-bg;

  .kss-header {
    height: $header-height;
    left: 0;
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  // Add padding spacer to content
  .kss-sidebar,
  .kss-main,
  &.kss-fullscreen-mode .kss-section {
    padding-top: $content-top-spacer;
  }

  // Horizontal spacers for fullscreen content
  .is-fullscreen .kss-modifier__example {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .is-fullscreen .kss-modifier__heading {
    border: 0;
    margin: 0 1.5rem 1rem;
  }

  .kss-main {
    // Media query for tablets
    @media only screen and (min-width: $screen-sm-max) {
      margin-left: 0;
      width: $content-width;
    }
  }

  .kss-sidebar {
    background-image: none;
    border-bottom: 0;
    border-top: 1px solid $gray-light;
    box-shadow: none;

    // Media query for tablets
    @media only screen and (min-width: $screen-sm-max) {
      border-top: 0;
      box-shadow: none;
      float: none;
      height: auto;
      left: $content-width;
      max-height: 100%;
      overflow: auto;
      padding-right: 1rem;
      width: $nav-width;
    }
  }
}
