.nav-tabs {
  border-bottom: 1px solid $gray-lighter;

  li a {
    border-top: 1px solid $gray-lighter;
    color: $text-color;
    display: block;
    padding: 1rem;

    &:hover {
      background-color: $gray-lighter;
      text-decoration: none;
    }

    &:active,
    &:focus {
      outline: 0;
    }
  }
}
