#kss-node .kss-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .kss-nav__menu-link {
    border-left: 2px solid transparent;
    color: $gray-medium;
    display: block;
    padding: 0.25rem;
    padding-left: .5rem;

    &:hover {
      border-left-color: $gray-dark;
      text-decoration: none;
    }

    &:hover,
    .kss-nav__ref {
      color: $gray-dark;
    }
  }
}
