#kss-node .kss-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .kss-nav__menu-link {
    border-left: 2px solid transparent;
    color: $gray-dark;
    display: block;
    padding: 0.25rem;
    padding-left: .5rem;

    &:hover {
      background-color: $gray-medium;
      color: $gray-darker;
      text-decoration: none;
    }

    // Current element in view
    &.is-in-viewport {
      color: $gray-darker;

      &:before {
        background-color: $gray-dark;
        left: -.5rem;
        top: 0;
        width: .25rem;
      }
    }

    // Hide order refference
    .kss-nav__ref {
      @include hide-element;
    }

  }

  // Navigation subitems
  .kss-nav__grand-child {
    color: $gray-medium;
    font-size: $font-size-sm;
    padding-bottom: 0;
    padding-top: 0;
  }

  // Kill bullet for default lists
  .kss-nav__menu-item {
    padding-bottom: 0;

    &::before {
      content: initial;
    }
  }

  .kss-nav__menu-child {
    .kss-nav__menu-item:first-child {
      border-top: 0;
      margin-top: 0;
      padding: 0;
    }

    .kss-nav__menu-item:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
