#kss-node {
  .kss-toolbar {
    background-color: transparent;
    border: 0;
    float: right;
    margin-bottom: 0;
    margin-top: 14px;
  }

  .kss-toolbar__tooltip {
    background-color: $tooltip-bg;
    border: 0;
    border-radius: $border-radius-base;
    box-shadow: none;
    color: $tooltip-color;
    font-size: $font-size-sm;
    height: 2rem;
    line-height: 2rem;
    padding: 0 $tooltip-padding;

    &:before {
      content: initial;
    }

    &:after {
      @include make-css-arrow($tooltip-arrow-size, $tooltip-arrow-size / 2, $tooltip-bg, bottom);
      left: 1rem;
    }

    a:hover > & {
      opacity: $tooltip-opacity;
    }
  }
}
