//
// @stylesheet buttons.less Buttons
// @parent styleguide 0
//
// @description
// All defined button styles and states belong here, including any "helper class"
// button style options, like `default`, `primary` etc. DocumentJS only has one
// defined button, which does not need any additional classes.
//
// The same button styles have been applied to a button class, for use on other
// html elements emulating a button.
//

//
// @styles default-button Default Button
//
// @demo demos/button-default.html
//

// :hover             - Subtle hover highlight.
// .star-given        - A highlight indicating you've already given a star.
// .star-given:hover  - Subtle hover highlight on top of star-given styling.
// .disabled          - Dims the button to indicate it cannot be used.

button {
	color: #333;
	background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.45em 0.75em 0.55em;
  border-radius: 3px;
}
