// ** Variables that are defined to be used only within the styleguide
// -------------------------------------------------------------------------
// These rules are to be used only within classes, don't use them to define
// global styles throughout the app.

/* stylelint-disable scss/dollar-variable-colon-space-after */
/* Rule is disabled here for better legibility */

//* Line height values
$line-height-base:      1.5 !default; // 21px
$line-height-sm:        1 !default; // 12px

// Override framework definition of assets location using
$assets-url:             "../../node_modules/garba-ui/dist/";

$brand-url:            "https://dj4i04i24axgu.cloudfront.net/normandia/statics/logos/logo-garbarino-rojo.svg" !default;
$header-bg:            $nav-bg !default;
$header-padding:       .5rem !default;
$brand-height:         2rem !default;
$header-height:        ($header-padding * 2) + $brand-height !default;


$content-top-spacer:   $header-height + 1.5rem !default;
$content-side-spacer:  2rem !default;
$content-gap-spacer: 1.5rem !default;

$content-width:   75% !default;
$nav-width:       100% - $content-width !default;

$code-bg:         #FFF !default;

/* stylelint-enable scss/dollar-variable-colon-space-after */
